
{% extends "admin/base.html" %}
{% load static %}
{% block extrastyle %}
    <style>
        h1{
            color: red;
        }
        #header{
            background-color: #3d0707;
        }
        body{
            background-color: #083f00;
        }
{#        :root{#}
{#            --primary: #3d0707;#}
{#     --primary-fg: #eee;#}
{#     --body-fg: #083f00;#}
{#    --body-bg: #efefef;#}
{#    /* --body-quiet-color: #e0e0e0; */#}
{#    --body-loud-color: #ffffff;#}
{#    --breadcrumbs-link-fg: #e0e0e0;#}
{#    --breadcrumbs-bg: var(--primary);#}
{#    --link-fg: #083f00;#}
{#    --link-hover-color: #fcfcfc;#}
{#    --link-selected-fg: #ffffff;#}
{#    --hairline-color: #ffffff;#}
{#    --border-color: #353535;#}
{#    --error-fg: #e35f5f;#}
{#    --message-success-bg: #006b1b;#}
{#    --message-warning-bg: #583305;#}
{#    --message-error-bg: #570808;#}
{#    --darkened-bg: #ffffff;#}
{#    --selected-bg: #ffffff;#}
{#    --selected-row: #00363a;#}
{#    --close-button-bg: #333333;#}
{#    --close-button-hover-bg: #666666;#}
{#}#}


        }
    </style>
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}" style="color: red">Hello, Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
