{% include 'main/header.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="input-group prof">
        <form action='{% url "add" %}' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="coursename" placeholder="Coursename" class="form-control">
            <input name="teacher" placeholder="Teacher" class="form-control">
            <input name="price" placeholder="Price" class="form-control">
            <input type="file" name="icon" placeholder="Upload" class="form-control">
            <input type="submit" class="form-control">
        </form>
    </div>
        {% if msg %}
            <h2>{{ msg }}</h2>
        {% endif %}
</body>
</html>