{% block list %}

<div class="nav1" style="width: 300px; border: 0">
    <div class="profile1">
        <h3 class="user_">{{ request.user.username }}</h3>
    </div>
    <div class="profile2">
        <ul class="profile2_ul">

            <li class="on1">
                <a href="{% url 'account'%}" data-purpose="user_manage:edit-profile">
                    Profile
                    </a>
            </li>
            <li class="on1">
                <a href="{% url 'learn'%}" data-purpose="user_manage:edit-account">Learning</a>
            </li>
            <li class="on1">
                <a href="{% url 'liked' %}" data-purpose="user_manage:edit-account">Liked courses</a>
            </li>

            <li class="on1">
                <a href="{% url 'liked' %}" data-purpose="user_manage:edit-account">Friend list</a>
            </li>


        </ul>
    </div>
</div>
{% endblock %}