.logo {
    width: 104px;
}

.nav {
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #0dcaf0;
}

.main {
    margin-bottom: 50px;
}

.card-img-top {
    max-width: 8rem;
    max-height: 8rem;
}

.divider {
    /* background-color: darkgray; */
    width: 1px;
    /* margin-left */
}

.reg {
    margin-left: 10px;
    min-width: 100px;
}

a:hover {
    color: aquamarine;
}

a:link {
    text-decoration: none;
}

.button:hover {
    color: white;
}

a:hover {
    color: aquamarine;
}

a {
    /* margin-top: 10px; */
    text-decoration: none;
    color: aliceblue;
}

li {
    margin-top: 0;
    margin-left: 5%;
}

.lgin {
    margin-left: 5px;
    min-width: 100px;
}

ul {
    list-style-type: none;
}


/* 
.divider {
    margin-right: 1000px;
} */

.header_center {
    display: flex;
}

.nnn {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 100%;
}

.n1 {
    margin-right: 50%;
}

.n2 {
    margin-left: 20px;
}

.nnn_3 {
    padding-left: 150px;
}

.profile{
    /*margin-left: 45%;*/
}
.frmm{
    margin-left: 20%;
}