{% include 'main/header.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
</head>
<body>

<div class="input-group prof">
        <form action='{% url "change" course.id %}' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="coursename" value="{{ course.coursename }}" class="form-control">
            <input name="teacher" value="{{ course.teacher }}" class="form-control">
            <input name="price" value="{{ course.price }}" class="form-control">
            <input type="file" name="icon" placeholder="Upload" class="form-control">
            <input type="submit" class="form-control">
        </form>
    </div>

</body>
</html>
{% include 'main/footer.html' %}